{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCM | {% block title %} Service Construction Manager {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'scm/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'scm/css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'scm/css/font-awesome.min.css' %}">
    <style>

    </style>
</head>

<body>
    <div class="an-contact-header container-fluid text-light">
        <div class="d-flex justify-content-between an-contact-header-items container-fluid">
            <div><i class="fa fa-phone an-fontawesome-header" aria-hidden="true"></i> +261 34 21 208 03</div>
            <div> <i class="fa fa-envelope an-fontawesome-header" aria-hidden="true"></i> ericatnonio123456@gmail.com
            </div>
        </div>
    </div>
    <!-- SECTION HEADER -->
    <div class="an-header container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand an-logo" href="{% url 'scm:index' %}">
                <div class="p-relative">
                    <div class="an-scare-logo">
                    </div>
                    <span class="an-logo-upper">S</span>ervice<span class="an-logo-upper">C</span>onstruction<span
                        class="an-logo-upper">M</span>anager
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link {% if request.resolver_match.url_name == 'index' %} an-active {% endif %}" href="{% url 'scm:index' %}">Home<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'about' %}an-active{% endif %}" href="{% url 'scm:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'service' %}an-active{% endif %}" href="{% url 'scm:service' %}">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'contactus' %}an-active {% endif %}" href="{% url 'scm:contactus' %}">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container an-container-header">
            <div class="an-content-header">
                <h1 class="an-title">Repair and <br>
                    Maintenance <br>
                    Services</h1>
                <p class="an-paragraphe-header mt-4 mb-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui harum voluptatem adipisci. Quos
                    molestiae
                    saepe dicta nobis pariatur, tempora iusto, ad possimus soluta hic praesentium mollitia consequatur
                    beatae, aspernatur c
                </p>
                <button class="btn btn-outline-dark">Contact us</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-between">
            <div></div>
            <div class="an-categorie text-center">
                <img src="{% static 'scm/images/tools.svg' %}" alt="" width="90" class="img img-fluid">
                <p>REPAIR</p>
            </div>
            <div class="an-categorie text-center ">
                <img src="{% static 'scm/images/construction.svg' %}" alt="" width="90" class="img img-fluid">
                <p>IMPROVE</p>
            </div>
            <div class="an-categorie text-center">
                <img src="{% static 'scm/images/maintenance.svg' %}" alt="" width="90" class="img img-fluid">
                <p>MAITAIN</p>
            </div>
            <div></div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <!-- SECTION FOOTER -->
    <div class="an-footer text-dark pt-5">
        <h2 class="text-uppercase text-center mb-5">Get In Touch</h2>
        <hr class="hr">
        <div class="d-flex justify-content-between text-center mt-5 mb-5">
            <div></div>
            <div>
                <div class="an-font-awesome mb-3">
                    <i class="fa fa-map-marker an-fontawesome-footer " aria-hidden="true"></i>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur</p>
            </div>
            <div>
                <div class="an-font-awesome mb-3">
                    <i class="fa fa-phone an-fontawesome-footer " aria-hidden="true"></i>
                </div>
                <p>+261 34 21 208 03</p>
            </div>

            <div>
                <div class="an-font-awesome mb-3">
                    <i class="fa fa-envelope an-fontawesome-footer " aria-hidden="true"></i>
                </div><br>
                <a href="#" class="text-dark">ericatnonio123456@gmail.com</a>
            </div>
            <div></div>
        </div>
        <h2 class="text-center mt-4">Follow Us</h2>
        <div class="an-follow text-center mb-3 mt-3">
            <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
        <hr class="hr">
        <p class="text-center mt-0 pb-3">© 2024 All Rights Reserved By Antonio RANDRIANARISON</p>
    </div>

    <script src="{% static 'scm/js/jq.js' %}"></script>
    <script src="{% static 'scm/js/bootstrap/bootstrap.js' %}"></script>
</body>

</html>