{% extends 'scm/base.html' %}
{% load static %}
{% block content %}

<!-- SECTION ABOUT US -->
<div class="an-about-us container mb-6">
    <div class="row">
        <div class="col-md-6 align-self-center">
            <h2 class="text-uppercase">About us</h2>
            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomisedThere are many variations of passages of
                Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                or randomised
            </p>
            <button class="btn btn-outline-warning mt-4">READ MORE</button>
        </div>
        <div class="col-md-6">
            <img src="{% static 'scm/images/bg2.jpg' %}" alt="" class="img img-fluid">
        </div>
    </div>
</div>

<!-- SECTION PROFESSIONAL -->
<div class="an-professional mb-6">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'scm/images/koto.jpg' %}" alt="" class="img img-fluid">
            </div>
            <div class="col-md-6 align-self-center">
                <h2>We Provide Professional Home Services.</h2>
                <p>
                    randomised words which don't look even slightly believable. If you are going to use a passage of
                    Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    All randomised words which don't look even slightly
                </p>
                <button class="btn btn-outline-dark mt-4">READ MORE</button>
            </div>
        </div>
    </div>
</div>

<!-- SECTION OUR SERVICE -->
<div class="an-service mb-6 ">
    <h2 class="text-center mb-5 text-uppercase">
        Our Services
    </h2>
    <div class="container">
        <div class="d-flex justify-content-between">
            <div></div>
            <div class="an-service-items">
                <img src="{% static 'scm/images/s1.png' %}" alt="" width="65" class="img img-fluid">
                <h3>Maintenance</h3>
                <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                </p>
            </div>
            <div class="an-service-items">
                <img src="{% static 'scm/images/s2.png' %}" alt="" width="65" class="img img-fluid">
                <h3>Electrical</h3>
                <p>
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                </p>
            </div>
            <div class="an-service-items">
                <img src="{% static 'scm/images/s3.png' %}" alt="" width="65" class="img img-fluid">
                <h3>Plumbing</h3>
                <p>
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                </p>
            </div>
            <div></div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-outline-warning mt-5">VIEW MORE</button>
    </div>
</div>
<!-- SECTION AVIS CLIENT -->
<div class="an-avis-client mt-6 mb-6">
    <h2 class="text-center mb-6 text-uppercase">What Our Clients Say</h2>
    <div class="container">
        <div class="an-client-items">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <img src="{% static 'scm/images/Antonio.jpg' %}" width="80" alt=""
                        class="img img-fluid an-img-client">
                    <div class="align-self-center mx-3">
                        <p class="an-nom-client">Antonio RANDRIANARISON</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="f-size-55">"</div>

            </div>
            <p class="mt-4">chunks as necessary, making this the first true generator on the Internet. It uses a
                dictionary of
                over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
            </p>
        </div>

        <div class="an-client-items">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <img src="{% static 'scm/images/Antonio.jpg' %}" width="80" alt=""
                        class="img img-fluid an-img-client">
                    <div class="align-self-center mx-3">
                        <p class="an-nom-client">Antonio RANDRIANARISON</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="f-size-55">"</div>

            </div>
            <p class="mt-4">chunks as necessary, making this the first true generator on the Internet. It uses a
                dictionary of
                over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
            </p>
        </div>
        <div class="an-client-items">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <img src="{% static 'scm/images/Antonio.jpg' %}" width="80" alt=""
                        class="img img-fluid an-img-client">
                    <div class="align-self-center mx-3">
                        <p class="an-nom-client">Antonio RANDRIANARISON</p>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="f-size-55">"</div>

            </div>
            <p class="mt-4">chunks as necessary, making this the first true generator on the Internet. It uses a
                dictionary of
                over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
            </p>
        </div>

    </div>
</div>
<!-- SECTION CONTACT -->
<div class="an-contact container mb-6">
    <h2 class="text-center mb-6 text-uppercase">Contact Us</h2>
    <div class="row">
        <div class="col-md-6 align-self-center">
            <form action="">
                <input type="text" placeholder="Name" class="form-control">
                <input type="tel" placeholder="Phone" class="form-control mt-4">
                <input type="email" placeholder="Email" class="form-control mt-4">
                <input type="text" placeholder="Message" class="form-control mt-4">
                <input type="submit" class="btn btn-outline-warning mt-4">
            </form>
        </div>
        <div class="col-md-6">
            <img src="{% static 'scm/images/girls.jpg'%}" alt="" class="img img-fluid">
        </div>
    </div>
</div>

{% endblock %}