{% extends 'CutenessOverload/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="an-container-product">
    <div class="pt-3 pb-3">
        <div class="d-flex justify-content-between">
            <h2 class="text-center">Nos Sac</h2>
            <button class="btn">Voir Plus</button>
        </div>
        <div class="six-item">
            <div>
                <div class="an-card">
                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1" class="img img-fluid">
                    <div class="an-card-body">
                        <div class="d-flex justify-content-between mx-2">
                            <h5 class=" ">Sac a Main</h5>
                            <p>10.000Ar</p>
                        </div>
                        <hr class="hr">
                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit amet.</p>
                        <div class="d-flex justify-content-between">
                            <a href="" class="btn btn-dark">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="an-card">
                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1" class="img img-fluid">
                    <div class="an-card-body">
                        <div class="d-flex justify-content-between mx-2">
                            <h5 class=" ">Sac a Main</h5>
                            <p>10.000Ar</p>
                        </div>

                        <hr class="hr">
                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit amet.</p>
                        <div class="d-flex justify-content-between">
                            <a href="" class="btn btn-dark">Buy Now</a>

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="an-card">
                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1" class="img img-fluid">
                    <div class="an-card-body">
                        <div class="d-flex justify-content-between mx-2">
                            <h5 class=" ">Sac a Main</h5>
                            <p>10.000Ar</p>
                        </div>

                        <hr class="hr">
                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit amet.</p>
                        <div class="d-flex justify-content-between">
                            <a href="" class="btn btn-dark">Buy Now</a>

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="an-card">
                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1" class="img img-fluid">
                    <div class="an-card-body">
                        <div class="d-flex justify-content-between mx-2">
                            <h5 class=" ">Sac a Main</h5>
                            <p>10.000Ar</p>
                        </div>

                        <hr class="hr">
                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit amet.</p>
                        <div class="d-flex justify-content-between">
                            <a href="" class="btn btn-dark">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="an-card">
                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1" class="img img-fluid">
                    <div class="an-card-body">
                        <div class="d-flex justify-content-between mx-2">
                            <h5 class=" ">Sac a Main</h5>
                            <p>10.000Ar</p>
                        </div>

                        <hr class="hr">
                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit amet.</p>
                        <div class="d-flex justify-content-between">
                            <a href="" class="btn btn-dark">Buy Now</a>

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="an-card">
                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1" class="img img-fluid">
                    <div class="an-card-body">
                        <div class="d-flex justify-content-between mx-2">
                            <h5 class=" ">Sac a Main</h5>
                            <p>10.000Ar</p>
                        </div>
                        <hr class="hr">
                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit amet.</p>
                        <div class="d-flex justify-content-between">
                            <a href="" class="btn btn-dark">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="an-card">
                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1" class="img img-fluid">
                    <div class="an-card-body">
                        <div class="d-flex justify-content-between mx-2">
                            <h5 class=" ">Sac a Main</h5>
                            <p>10.000Ar</p>
                        </div>
                        <hr class="hr">
                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit amet.</p>
                        <div class="d-flex justify-content-between">
                            <a href="" class="btn btn-dark">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="an-container mb-5" style="margin: 0 28px 0 28px; ">
        <div class="row">
            <div class="col-md-9" style="height:auto; align-self: center;">
                <div style="margin: 0 28px 0 28px;" class="mt-5">
                    <div class="d-flex justify-content-between">
                        <h2 class="text-center">Categories</h2>
                        <button class="btn">Voir Plus</button>
                    </div>
                    <div class="an-categorie d-flex justify-content-between">
                        <div class="text-center">
                            <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                class="img img-fluid an-categorie-images" width="145" style="border-radius: 50%;">
                            <h5>Femme</h5>
                        </div>
                        <div class="text-center">
                            <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                class="img img-fluid an-categorie-images" width="145" style="border-radius: 50%;">
                            <h5>Homme</h5>
                        </div>
                        <div class="text-center">
                            <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                class="img img-fluid an-categorie-images" width="145" style="border-radius: 50%;">
                            <h5>Enfant</h5>
                        </div>
                        <div class="text-center">
                            <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                class="img img-fluid an-categorie-images" width="145" style="border-radius: 50%;">
                            <h5>Adulte</h5>
                        </div>
                        <div class="text-center">
                            <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                class="img img-fluid an-categorie-images" width="145" style="border-radius: 50%;">
                            <h5>Top</h5>
                        </div>

                    </div>
                    <div class="an-top mt-3">
                        <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1" class="img img-fluid">
                        <div class="an-top-details">
                            <h3>Sac a main</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quo accusamus doloribus
                                excepturi qui velit? um dolor sit amet consectetur adipisicing elit. Itaque quo
                                accusamus
                                doloribus excepturi qui velit?</p>
                        </div>
                    </div>
                    <div class="an-caroussel-1 mt-3">
                        <div class="d-flex justify-content-between">
                            <h2 class="text-center">Nos Bijoux</h2>
                            <button class="btn">Voir Plus</button>
                        </div>
                        <div class="four-item">
                            <div>
                                <div class="an-card">
                                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                        class="img img-fluid">
                                    <div class="an-card-body">
                                        <div class="d-flex justify-content-between mx-2">
                                            <h5 class=" ">Sac a Main</h5>
                                            <p>10.000Ar</p>
                                        </div>

                                        <hr class="hr">
                                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit
                                            amet.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a href="" class="btn btn-dark">Buy Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="an-card">
                                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                        class="img img-fluid">
                                    <div class="an-card-body">
                                        <div class="d-flex justify-content-between mx-2">
                                            <h5 class=" ">Sac a Main</h5>
                                            <p>10.000Ar</p>
                                        </div>

                                        <hr class="hr">
                                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit
                                            amet.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a href="" class="btn btn-dark">Buy Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="an-card">
                                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                        class="img img-fluid">
                                    <div class="an-card-body">
                                        <div class="d-flex justify-content-between mx-2">
                                            <h5 class=" ">Sac a Main</h5>
                                            <p>10.000Ar</p>
                                        </div>

                                        <hr class="hr">
                                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit
                                            amet.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a href="" class="btn btn-dark">Buy Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="an-card">
                                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                        class="img img-fluid">
                                    <div class="an-card-body">
                                        <div class="d-flex justify-content-between mx-2">
                                            <h5 class=" ">Sac a Main</h5>
                                            <p>10.000Ar</p>
                                        </div>

                                        <hr class="hr">
                                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit
                                            amet.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a href="" class="btn btn-dark">Buy Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="an-card">
                                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                        class="img img-fluid">
                                    <div class="an-card-body">
                                        <div class="d-flex justify-content-between mx-2">
                                            <h5 class=" ">Sac a Main</h5>
                                            <p>10.000Ar</p>
                                        </div>

                                        <hr class="hr">
                                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit
                                            amet.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a href="" class="btn btn-dark">Buy Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="an-card">
                                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                        class="img img-fluid">
                                    <div class="an-card-body">
                                        <div class="d-flex justify-content-between mx-2">
                                            <h5 class=" ">Sac a Main</h5>
                                            <p>10.000Ar</p>
                                        </div>

                                        <hr class="hr">
                                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit
                                            amet.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a href="" class="btn btn-dark">Buy Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="an-caroussel-2">
                        <div class="d-flex justify-content-between">
                            <h2 class="text-center">Nos Sac</h2>
                            <button class="btn">Voir Plus</button>
                        </div>
                        <div class="four-item">
                            <div>
                                <div class="an-card">
                                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                        class="img img-fluid">
                                    <div class="an-card-body">
                                        <div class="d-flex justify-content-between mx-2">
                                            <h5 class=" ">Sac a Main</h5>
                                            <p>10.000Ar</p>
                                        </div>

                                        <hr class="hr">
                                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit
                                            amet.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a href="" class="btn btn-dark">Buy Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="an-card">
                                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                        class="img img-fluid">
                                    <div class="an-card-body">
                                        <div class="d-flex justify-content-between mx-2">
                                            <h5 class=" ">Sac a Main</h5>
                                            <p>10.000Ar</p>
                                        </div>

                                        <hr class="hr">
                                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit
                                            amet.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a href="" class="btn btn-dark">Buy Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="an-card">
                                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                        class="img img-fluid">
                                    <div class="an-card-body">
                                        <div class="d-flex justify-content-between mx-2">
                                            <h5 class=" ">Sac a Main</h5>
                                            <p>10.000Ar</p>
                                        </div>

                                        <hr class="hr">
                                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit
                                            amet.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a href="" class="btn btn-dark">Buy Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="an-card">
                                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                        class="img img-fluid">
                                    <div class="an-card-body">
                                        <div class="d-flex justify-content-between mx-2">
                                            <h5 class=" ">Sac a Main</h5>
                                            <p>10.000Ar</p>
                                        </div>

                                        <hr class="hr">
                                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit
                                            amet.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a href="" class="btn btn-dark">Buy Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="an-card">
                                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                        class="img img-fluid">
                                    <div class="an-card-body">
                                        <div class="d-flex justify-content-between mx-2">
                                            <h5 class=" ">Sac a Main</h5>
                                            <p>10.000Ar</p>
                                        </div>

                                        <hr class="hr">
                                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit
                                            amet.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a href="" class="btn btn-dark">Buy Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="an-card">
                                    <img src="{% static 'CutenessOverload/images/fa.jpg' %}" alt="Image 1"
                                        class="img img-fluid">
                                    <div class="an-card-body">
                                        <div class="d-flex justify-content-between mx-2">
                                            <h5 class=" ">Sac a Main</h5>
                                            <p>10.000Ar</p>
                                        </div>

                                        <hr class="hr">
                                        <p class="mx-2">Lorem ipsum dolor sit amet. or sit amet. Lorem ipsum dolor sit
                                            amet.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <a href="" class="btn btn-dark">Buy Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="mt-3">
                    <h5>Lorem ipsum dolor sit amet.</h5>
                    <img src="{% static 'CutenessOverload/images/bg.jpg' %}" alt="" class="img img-fluid">
                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quaerat, excepturi sit
                        tenetur rerum</p>
                    <a href="">View More</a>
                </div>
                <div class="mt-3">
                    <h5>Lorem ipsum dolor sit amet.</h5>
                    <img src="{% static 'CutenessOverload/images/img-1.jpg' %}" alt="" class="img img-fluid">
                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quaerat, excepturi sit
                        tenetur rerum</p>
                    <a href="">View More</a>
                </div>
                <div class="mt-3">
                    <h5>Lorem ipsum dolor sit amet.</h5>
                    <img src="{% static 'CutenessOverload/images/developper.jpg' %}" alt="" class="img img-fluid">
                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quaerat, excepturi sit
                        tenetur rerum</p>
                    <a href="">View More</a>
                </div>
                <div class="mt-3">
                    <h5>Lorem ipsum dolor sit amet.</h5>
                    <img src="{% static 'CutenessOverload/images/developper.jpg' %}" alt="" class="img img-fluid">
                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quaerat, excepturi sit
                        tenetur rerum</p>
                    <a href="">View More</a>
                </div>
                <div class="mt-3">
                    <h5>Lorem ipsum dolor sit amet.</h5>
                    <img src="{% static 'CutenessOverload/images/developper.jpg' %}" alt="" class="img img-fluid">
                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quaerat, excepturi sit
                        tenetur rerum</p>
                    <a href="">View More</a>
                </div>
                <button class="btn btn-dark mt-5">View More</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}